.plex-400 {
    font-family: "IBM Plex Serif", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn-click {
    cursor: pointer;
    text-align: left;
}

.p-datatable-tbody>tr:last-child>td {
    border-style: none;
}

.p-datatable-tbody>tr>td {
    border-left: 1px solid var(--p-datatable-body-cell-border-color) !important;
}

.p-datatable-tbody>tr>td {
    border-left: 1px solid var(--p-datatable-body-cell-border-color) !important;
}

.p-datatable-tbody>tr>td:first-child {
    border-left-style: none !important;
}

.btn-click:hover {
    color: var(--p-text-emphasis-color);
    transform: scale(1.25);
    transition: all 0.25s ease-in-out;
}

i.btn-click.green:hover {
    color: #0ff000;
}

i.btn-click.red:hover {
    color: #ff0000;
}